body {
  margin: 0;
  font-family: var(--mdc-typography-font-family, Roboto, sans-serif);

  .mdc-top-app-bar {
    z-index: 7;
  }

  .demo-panel {
    display: flex;
    position: relative;
    height: 100vh;
    overflow: hidden;

    mdc-drawer {
      // padding-top: 64px;
    }

    mdc-drawer-app-content {
      // padding-top: 64px;
      margin: 15px;
    }
  }
}
