.demo-grid-cell-alignment {
  background: rgba(0, 0, 0, .2);
  min-width: 360px;
  min-height: 200px;

  .mdc-layout-grid__inner {
    min-height: 200px;

    .mdc-layout-grid__cell {
      background: rgba(0, 0, 0, .2);
      height: 50px;
    }
  }
}
