@use '@material/textfield/_index' as textfield;
@use '@material/textfield/helper-text';
@use '@material/textfield/icon';

//
// Form spacing
//

@mixin mdc-form-field-padding($padding) {
	padding-left: $padding;
}

.au-text-field,
.au-select {
  display: inline-block;
	height: 87px;
}

.demo-layout__row {
  .au-form-field-text-field + mdc-form-field,
  .au-form-field-select + mdc-form-field {
    @include mdc-form-field-padding(14px);
 }
}

.mdc-form-field {
	> .mdc-checkbox {
		@at-root .mdc-form-field {
			align-self: flex-start;
		}
	}
}
