@use "@material/theme/variables";

$ink-color: rgba(variables.prop-value(on-surface), 0.87) !default;
$dropdown-icon-color: rgba(variables.prop-value(on-surface), 0.54) !default;
$dropdown-transition-duration: 150ms !default;
// Transition durartions to active state
$icon-active-fade-out-duration: 0.33 * $dropdown-transition-duration !default;
$icon-active-fade-in-duration: 0.67 * $dropdown-transition-duration !default;
// Transition durartions to inactive state
$icon-inactive-fade-out-duration: 0.5 * $dropdown-transition-duration !default;
$icon-inactive-fade-in-duration: 0.5 * $dropdown-transition-duration !default;


$duration: 225ms;
$timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
$fast-out-slow-in-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !default;

$ripple-target: '.mdc-expandable__ripple';
$shape-radius: small !default;
