@use "@material/button/mdc-button";
@use "@material/list/mdc-list";
@use "@material/icon-button/mdc-icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/drawer/mdc-drawer";
@use "@material/textfield/mdc-text-field";
@use "@material/floating-label/mdc-floating-label";
@use "@material/form-field/mdc-form-field";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/ripple/mdc-ripple";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/menu/mdc-menu";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/select/mdc-select";
@use "@material/card/mdc-card";
@use "@material/typography/mdc-typography";
@use "@material/dialog/mdc-dialog";

@use "./button";
@use "./card";
@use "./icon-button";
@use "./layout";
@use "./text-field";

.mdc-list {
  display: block;
}

body {
  margin: 0;
  font-family: var(--mdc-typography-font-family, Roboto, sans-serif);
}
