@use '@material/theme/mdc-theme';
@use '@material/theme/theme-color';
// @use '@material/theme' with (
//   $primary: #6200ee,
//   $secondary: #faab1a,
//   $background: #fff,
// );

@use "@aurelia-mdc-web/all/styles";

@use "./landing";
@use "./layout";
@use "./text-field";
@use "./drawer";

body {
  margin: 0;
  font-family: var(--mdc-typography-font-family, Roboto, sans-serif);
}

.mdc-button__ripple,
.mdc-checkbox__ripple,
.mdc-chip__ripple,
.mdc-fab__ripple,
.mdc-radio__ripple,
.mdc-list-item__ripple,
.mdc-tab__ripple {
  z-index: 0;
}
