.mdc-circular-progress {
  width: var(--mdc-circular-progress-size);
  height: var(--mdc-circular-progress-size);

  .mdc-circular-progress__indeterminate-circle-graphic {
    stroke-width: var(--mdc-circular-progress-stroke-width);
  }

  .mdc-circular-progress__gap-patch {
    .mdc-circular-progress__indeterminate-circle-graphic {
      stroke-width: var(--mdc-circular-progress-gap-patch-stroke-width);
    }
  }
}
