@use "@material/card";
@use "@material/theme";

.demo-card {
  width: 350px;
  margin: 28px;
}

.demo-card__primary {
  padding: 1rem;
}

.demo-card__title {
  margin: 0;
}

.demo-card__subtitle {
  @include theme.property(color, text-secondary-on-background);

  margin: 0;
}

.demo-card__secondary {
  @include theme.property(color, text-secondary-on-background);

  padding: 0 1rem 8px 1rem;
}

.demo-card__media--16-9 {
  background-image: url(https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg);
}
