@use "@material/card";
@use "@material/theme";

.demo-card {
  width: 350px;
  margin: 28px;
}

.demo-card-article {
  padding: 16px;
  text-decoration: none;
  color: inherit;
}

.demo-card-article-group-heading {
  @include theme.prop(color, text-secondary-on-light);

  padding: 8px 16px;
}

.demo-card-article__title {
  margin: 0 0 4px 0;
}

.demo-card-article__snippet {
  @include theme.prop(color, text-secondary-on-light);

  margin: 0;
}
